version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=orderuser
      - POSTGRES_PASSWORD=YourStrong@Passw0rd
      - POSTGRES_DB=OrderManagementDb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U orderuser"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
